smpp:
  host: "192.168.255.251" # leave "" for 0.0.0.0
  port: 2775

smtp:
  host: "mail.example.com"
  port: 25
  auth: 2 # Authentication type: 1 = AuthPlain, 2 = AuthLogin, 3 = AuthCRAMMD5
  encr: 3 # Encryption type: 1 = EncryptionNone, 2 = EncryptionSSL, 3 = EncryptionTLS
  user: "sender@example.com"
  pass: "pass"
  from: "sender@example.com"
  to: ["reciever1@example.com", "reciever2@example.com"]